
/* .p-menubar .p-input-icon-left .pi-search {
  color: #6b7280; 
} 

.p-menubar .p-input-icon-left input {
  padding-left: 40px; 
}

.p-dropdown {
  font-weight: bold;
  margin-left: 8px;
}

.p-dropdown .p-dropdown-label {
  padding-left: 4px;
} */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* or set to a specific height */
}
