<div class="bg-white relative left-[251px] w-[1100px]  top-[65px]">

    <iframe src="https://my.atlist.com/map/259cafd5-9f51-4ace-8d7b-8c556a9d2680/?share=true"
        allow="geolocation 'self' https://my.atlist.com" width="1123px" height="730px" loading="lazy" frameborder="0"
        scrolling="no" allowfullscreen id="atlist-embed"></iframe>

    <div class=" absolute flex flex-col  w-[260px] h-[700px]  top-5 left-4 bg-white rounded-md"
        style="box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);">
        <span class="h-8 border-b mb-2 pl-3 p-1 bg-cyan-50 rounded-t-md">Search for Agents</span>

        <div class="relative flex justify-center ">
            <i class="pi pi-search absolute left-[23px] top-[12px] text-gray-400"></i>
            <input type="text" placeholder="Search"
                class="pl-[30px]  py-1 w-[230px] h-10 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="flex justify-center">
            <p-button type="submit"
                class="my-3 w-[230px] rounded-md text-black hover:bg-[rgb(157,136,109)] hover:text-white border border-gray-300 flex justify-center items-center">Search</p-button>
        </div>


        <div class="border-b py-2  items-center">
            <div class="flex items-center pl-4">
                <p-avatar
                    image="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    shape="circle" class="mr-4"></p-avatar>

                <div class="flex flex-col ">
                    <h1 class="font-semibold">John Doe</h1>
                    <h1 class="text-[rgb(157,136,109)]">ACME Cooperation</h1>
                </div>
            </div>
            <div class="flex items-center justify-center  mt-3">
                <p-button
                    class="w-[230px] text-black rounded-md hover:bg-[rgb(157,136,109)] hover:text-white border border-gray-300 h-9 flex items-center justify-center ">View
                    Profile</p-button>
            </div>
        </div>


        <div class="border-b py-2 items-center">
            <div class="flex items-center pl-4">
                <p-avatar
                    image="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    shape="circle" class="mr-4"></p-avatar>

                <div class="flex flex-col">
                    <h1 class="font-semibold">Henry Cavil</h1>
                    <h1 class="text-[rgb(157,136,109)]">ACME Cooperation</h1>
                </div>
            </div>
            <div class="flex items-center justify-center  mt-3">
                <p-button
                    class="w-[230px] text-black rounded-md hover:bg-[rgb(157,136,109)] hover:text-white border border-gray-300 h-9 items-center flex justify-center">View
                    Profile</p-button>
            </div>
        </div>

        <div class="border-b py-2 items-center">
            <div class="flex items-center pl-4">
                <p-avatar
                    image="https://images.pexels.com/photos/3778603/pexels-photo-3778603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    shape="circle" class="mr-4"></p-avatar>

                <div class="flex flex-col">
                    <h1 class="font-semibold">George Buttler</h1>
                    <h1 class="text-[rgb(157,136,109)]">ACME Cooperation</h1>
                </div>
            </div>
            <div class="flex items-center justify-center  mt-3">
                <p-button
                    class="w-[230px] text-black rounded-md hover:bg-[rgb(157,136,109)] hover:text-white border border-gray-300 h-9 flex justify-center items-center">View
                    Profile</p-button>
            </div>
        </div>

        <div class="border-b py-2 items-center">
            <div class="flex items-center pl-4">
                <p-avatar
                    image="https://images.pexels.com/photos/2340978/pexels-photo-2340978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    shape="circle" class="mr-4"></p-avatar>

                <div class="flex flex-col">
                    <h1 class="font-semibold">John Doe</h1>
                    <h1 class="text-[rgb(157,136,109)]">ACME Cooperation</h1>
                </div>
            </div>
            <div class="flex items-center justify-center  mt-3">
                <p-button
                    class="w-[230px] text-black rounded-md hover:bg-[rgb(157,136,109)] hover:text-white border border-gray-300 h-9 flex items-center justify-center ">View
                    Profile</p-button>
            </div>
        </div>
        <div class="py-2 items-center">
            <div class="flex items-center pl-4">
                <p-avatar
                    image="https://images.pexels.com/photos/819530/pexels-photo-819530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    shape="circle" class="mr-4"></p-avatar>

                <div class="flex flex-col">
                    <h1 class="font-semibold">John Doe</h1>
                    <h1 class="text-[rgb(157,136,109)]">ACME Cooperation</h1>
                </div>
            </div>
            <div class="flex items-center justify-center mt-3">
                <p-button
                    class="w-[230px] text-black rounded-md hover:bg-[rgb(157,136,109)] hover:text-white border border-gray-300 h-9 flex justify-center items-center">View
                    Profile</p-button>
            </div>
        </div>
    </div>
</div>